urwid==3.0.2
python-dotenv==1.1.1
pyotp==2.9.0
httpx==0.28.1
tastytrade==10.2.3
firstrade==0.0.33
schwab-py==1.4.0
robin-stocks==3.4.0
bbae-invest-api==0.1.3
dspac-invest-api==0.1.3
zendriver==0.14.2
curl-cffi==0.7.3
-e git+https://github.com/ImNotOssy/webull.git@0e96507299eca4c6d76ca24836e2569fed60c85c#egg=webull